G940LEDControl/XSD/SimBaseDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) by Mark van Renswoude (UnameIT we build IT B.V.) -->
<!-- W3C Schema generated by XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SimBase.Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Descr" type="xs:string">
					<xs:annotation>
						<xs:documentation>Example: Launch</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Filename" type="xs:string">
					<xs:annotation>
						<xs:documentation>Example: dll.xml</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Disabled" type="SimBaseBoolean">
					<xs:annotation>
						<xs:documentation>Example: False</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Launch.ManualLoad" type="SimBaseBoolean">
					<xs:annotation>
						<xs:documentation>Example: False</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Launch.Addon" type="LaunchAddon" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Type" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LaunchAddon">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Disabled" type="SimBaseBoolean">
				<xs:annotation>
					<xs:documentation>Example: False</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualLoad" type="SimBaseBoolean">
				<xs:annotation>
					<xs:documentation>Example: False</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Path" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SimBaseBoolean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="False"/>
			<xs:enumeration value="True"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
